# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b0833141f942179e122f096b134b7f7bfbddb390012a6cf7b687d41bf50631d0e755e0f77a7ff65d952cf2c538c8322e93ec7e49dad9b881cf15dd4e35cdc588

test:
  secret_key_base: f26db5e45f3c43af4f001dc788cb0c572f5078e3e4e05a8eb5833c9408280cbe63f2c728cc2c7088ef53ea060db4e7b5d8c6e3231a9ccfd356ca966b5851176a

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
